<p id="notice"><%= notice %></p>

<h1>Premeditated Portal Locations</h1>

<h3 class="text-muted">Your current place in time & space</h3>

<p class="text-muted">
  <%= @location.full_street_address %> <small><%= link_to  fa_icon('pencil', text: 'Edit'), edit_location_path(@location) %></small>
</p>

<h3>The closest portals are...</h3>
<% @buses.each do |bus| %>

<div class='well'>
  <strong>Route:</strong><%= bus["ROUTE"] %> <%= bus["DIRECTION"] %> <br>
  <strong>Portal Number:</strong><%= bus["VEHICLE"] %> <br>
  <strong>Next Opening:</strong><%= bus["TIMEPOINT"] %>
</div>

<% end %>

<% if @buses.empty? %>
<h3>
  No portals near you broh!, get to wiggety wiggety walkin' son!, or <%=
  link_to 'change your location', edit_location_path(@location) %>
</h3>
<% end %>